# Test Results

## Test CLI Decrypt Command
**Command:**
```bash
python /var/www/tools/cipher.api.webally.co.za/src/cli.py decrypt 🥲🥲
```
**Output:**
```python

```
## Test CLI Encrypt Command
**Command:**
```bash
python /var/www/tools/cipher.api.webally.co.za/src/cli.py encrypt test
```
**Output:**
```python

```
